[submodule "cpp/deps/RTKLIB"]
	path = cpp/deps/RTKLIB
	url = https://github.com/DamienGilliard/RTKLIB.git
[submodule "cpp/deps/ftxui"]
	path = cpp/deps/ftxui
	url = https://github.com/ArthurSonzogni/FTXUI.git
